iframe {
  height: 400px;
  width: 100%;
}

.container {
  border: 1px solid green;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px;
  width: 100%;
}

.source {
  background-color: red;
  font-size: 30px;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.source.dropped {
  visibility: hidden;
}

.target {
  background-color: cyan;
  font-size: 30px;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target.dropped {
  background-color: red;
}
